* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  position: fixed;
  color: white;
  padding-right: 40px;
  padding-left: 40px;
  height: 120px;
}
.visible {
  background-color: #4230dd;
  opacity: 0.9;
}
.navbar .logo {
  background-color: white;
  color: aliceblue;
  opacity: 0;
}
.nav-menu {
  display: flex;
  align-items: center;
  position: static;
}
.nav-menu a {
  text-decoration: none;
  color: rgb(197, 210, 219);
  margin-left: 2rem;
  font-size: 15px;
  font-weight: 700;
}
.w-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-list {
  display: none;
  position: absolute;
  font-size: 15px;
  top: 50%;
  left: 0;
  line-height: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding-top: 30px;
  width: 160%;
}
.w-dropdown:hover .dropdown-list {
  display: inline-block;
}

.dropdown-list .nav-dropdown-link {
  font-size: 15px;
}
.nav-button-toggle {
  font-size: 15px;
  color: rgb(197, 210, 219);
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.about {
  margin-right: 1rem;
}

.button-with-icon .purple {
  color: #2c18dd;
  opacity: 1;
  background-color: #caf4e0;
  text-transform: uppercase;
  padding: 16px 32px 17px;
  border-radius: 10px;
  box-shadow: 10px 10px black;
}
.button-with-icon .purple:hover {
  box-shadow: none;
  transform: translateY(5px);
}

/************** Home page Section ******************/

.hero.home {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 400px;
  object-fit: fill;
  background-color: transparent;
  background-image: url(main.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 60px;
  font-family: Figtree, sans-serif;
}
.hero {
  height: 530px;
  background-image: url();
  background-position: 50% 0;
  background-size: auto 100%;
  margin-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
}

.hero-content {
  display: flex;
  width: 45%;
  justify-content: left;
  align-items: center;
}

.vertical-div {
  margin-top: 100px;
  margin-left: 30px;
}

.hero-title {
  color: white;
  font-size: 3.5rem;
  margin-top: 8rem;
  font-weight: 800;
  line-height: 4.5rem;
  font-family: sans-serif;
}
.paragraph {
  color: white;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.div-block {
  display: flex;
}
.home-hero-link {
  margin-right: 8px;
  transition: transform 1s;
}
.home-hero-link :hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

.reverse {
  font-size: 1.1rem;
  color: #caf4e0;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: 700;
}
.reverse:hover {
  color: white;
}

/************* Logo Section ***************/

.maxframe {
  max-width: 1440px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-family: Figtree, sans-serif;
  display: block;
  position: static;
  overflow: hidden;
  box-shadow: 1px 1px 8px 3px #dfdfec;
}

.section.logos {
  margin-top: 25px;
  margin-bottom: 78px;
}
.section {
  margin: 80px auto 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.partner-logos {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}
.image-76 {
  margin-bottom: 36px;
}
img {
  max-width: 100%;
  display: inline-block;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.centered {
  text-align: center;
  margin-top: 8%;
}

.see-more {
  color: #4d4d66;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(170, 168, 255, 0.3);
  border-radius: 24px;
  margin-top: -100%;
  padding: 10px 14px 10px 16px;
  font-size: 14px;
  display: inline-block;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 50px;
  width: 95%;
  margin-left: 2rem;
  box-shadow: 1px 1px 10px rgba(170, 168, 255, 0.3);
}
.horizontal-div {
  align-items: center;
  font-family: Figtree variablefont wght, sans-serif;
  display: flex;
}
@media screen and (max-width: 967px) {
  .card .horizontal-div {
    width: 100%;
    height: 100%;
    max-height: 120%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
}
.vertical-div {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.vertical-div {
  margin-top: 100px;
  margin-left: 30px;
}
.image-4 {
  width: 300px;
}
.image-5 {
  width: 400px;
}
.centers {
  margin-left: 10rem;
  width: 100%;
}
.second {
  height: 350px;
  padding-bottom: 100px;
}

.centered {
  align-items: center;
}

.card.horizontal-div {
  flex: 0 auto;
  overflow: visible;
  box-shadow: 1px 1px 10px rgba(77, 77, 102, 0.1);
}
@media screen and (max-width: 967px) {
  .card .vertical-div {
    width: 100%;
    height: 100%;
    max-height: 120%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .vertical-div {
    width: 80%;
  }
}

.button {
  width: 260px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #4230dd;
  border-radius: 9px;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 32px;
  font-family: Figtree variablefont wght, sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s;
  display: block;
  box-shadow: 6px 6px #1c1279;
}
.lighterblue {
  background-color: #e3e2e9c0;
}
.lightblue {
  background-color: #eaf3f6c6;
}

.button:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.heading-114 {
  font-size: 48px;
}
.heading-3 {
  color: #06022b;
  /* margin-top: 20px; */
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 47px;
}
h2 {
  /* margin-top: 20px; */
  font-size: 32px;
  line-height: 36px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: 700;
}

li {
  color: #4d4d66;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
}
.centered._700width.big {
  margin-bottom: 65px;
  font-size: 40px;
  width: 50%;
}
.testimonial-text {
  font-size: 1rem;
}

.testimonial-card {
  width: 400px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(148, 147, 217, 0.3);
}

.testimonial-card.home {
  width: auto;
  text-align: left;
  border-radius: 4px;
  margin-left: 3%;
  margin-top: 2%;
  margin-right: 2%;
  padding: 10px 32px;
}

.quote-attribution {
  color: #1c1279;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-left: 20px;
  font-weight: 800;
}

.quote-attribution {
  margin-bottom: 24px;
  font-family: Figtree variablefont wght, sans-serif;
}
.section-download-footer {
  z-index: 1;
  margin-top: 10rem;
  background-color: #4230dd;
  padding-top: 68px;
  padding-bottom: 79px;
  position: relative;
  overflow: hidden;
}
.content-wrapper {
  max-width: 1200px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Figtree, sans-serif;
  display: block;
  position: relative;
  overflow: visible;
}
.download-grid {
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 1fr;
  font-family: Figtree, sans-serif;
}

.download-content-div {
  z-index: 2;
  margin-top: 60px;
  padding-bottom: 91px;
  position: relative;
}

.image-71 {
  max-width: 670px;
  position: absolute;
  top: 5%;
  bottom: 0%;
  left: auto;
  right: 5%;
}
.image-84 {
  z-index: 30;
  width: 100%;
  display: block;
  position: absolute;
  top: auto;
  bottom: -1%;
  left: 0%;
  right: 0%;
  overflow: visible;
}
.cta-subtitle {
  color: #caf4e0;
  letter-spacing: 1px;
  font-family: Figtree variablefont wght, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.white.dl {
  background-color: #4230dd;
  width: 45%;
  margin-bottom: 20px;
  margin-left: 0%;
  font-family: Figtree variablefont wght, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2em;
}

.white {
  color: #fff;
  margin-left: 0%;
  padding-left: 0;
  padding-right: 13px;
  font-family: Figtree variablefont wght, sans-serif;
}

/********************* Footer Section*****************/

.footer.dark {
  background-color: #06022b;
  padding-bottom: 40px;
  font-family: Figtree, sans-serif;
}

.content-wrapper {
  max-width: 1200px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Figtree, sans-serif;
  display: block;
  position: relative;
  overflow: visible;
}

.footer {
  background-color: #f2f2ff;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-photo-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 69px;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;

  grid-auto-columns: 1fr r;
  display: grid;
}
.div-block-103 {
  text-align: right;
  margin-bottom: 20px;
}

.footer-location-cta-wrapper {
  margin-right: 50px;
  /* position: absolute; */
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.div-block-102 {
  z-index: 1;
  display: block;
  position: relative;
}

.link-block-27 {
  z-index: 1;
  position: relative;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.footer-cta-text {
  width: 262px;
  color: #fff;
  margin-top: 19px;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
}

.footer-photo {
  width: 100%;
  border-radius: 2px;
}

img {
  max-width: 100%;
  display: inline-block;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.lang-dropdown {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  top: auto;
  bottom: 2%;
  left: auto;
  right: 2%;
  box-shadow: 0 0 70px rgba(28, 18, 121, 0.28);
}

.w-dropdown-toggle {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
  display: inline-block;
}
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}
.lang-dropdown {
  color: #fff;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  top: auto;
  bottom: 2%;
  left: auto;
  right: 2%;
  box-shadow: 0 0 70px rgba(28, 18, 121, 0.28);
}

.lang-text {
  margin-right: 0.3rem;
  margin-left: 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.fa-solid {
  margin-top: 0.3rem;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footerlink {
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 28px;
  font-family: Figtree variablefont wght, sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: block;
}

a {
  color: #4230dd;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}

.horizontal-div.spread.footer.dark {
  text-align: right;
  justify-content: flex-end;
  display: flex;
}

.text.footer.dark {
  color: rgba(242, 242, 255, 0.62);
  padding-bottom: 0;
  padding-right: 0;
}

.text {
  padding-left: 0%;
  font-family: Figtree variablefont wght, sans-serif;
  font-size: 18px;
  line-height: 26px;
  display: block;
}
